.header{
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  min-height: 6rem;
  width: 100%;
  box-sizing: border-box;
  /* background-color: black; */
  background-image: linear-gradient(#000000, #414141);
  border-bottom: 1px solid #696969;
}

.title{
  color: white;
  letter-spacing: 2px;
  padding: 2px;
  cursor: pointer;
}

.headerRightSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerButton{
  cursor: pointer;
  color: white;
  border: none;
  background: inherit;
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  border: 2px solid transparent;
  font-family: 'Fira Sans', sans-serif;
  margin: 1rem;
}

.headerButton:hover
{
  border: 2px solid white !important;
}

.headerButton:active{
  background-color: white;
  border: 2px solid black;
  color: black;
}

.searchInput{
  border-radius: 10px;
  height: 40px;
  width: 14rem;
  margin: 1rem;
  margin-right: 2rem;
  font-size: large;
  padding-left: 6px;
}

.searchInput:focus{
  outline: none;
}

.searchInput:placeholder-shown{
  font-size: large;
  padding-left: 6px;
}

.userIntroSection{
  color: white;
  font-size: large;
  font-weight: 600;
}