.main{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
  box-sizing: border-box;
  padding-top: 9rem ;
}

.searchInput{
  border-radius: 10px;
  position: sticky;
  top: 0px;
  height: 40px;
  width: 14rem;
  margin: 1rem;
  margin-right: 2rem;
  font-size: large;
  padding-left: 6px;
}

.searchInput:focus{
  outline: none;
}

.searchInput:placeholder-shown{
  font-size: large;
  padding-left: 6px;
}

.postListSection{
  padding: 1rem 0rem;

}