.postMain{
  width: 100%;
  height: 100vh;
  padding: 3rem;
  padding-top: 12rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.topSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.topSection button{
  border: none;
  background-color: inherit;
  font-size: 14px;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 10px 14px;
  margin: 6px;
  border-radius: 10px;
  cursor: pointer;
}

.userInfo{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.userInfo h2{
  margin: 0;
}

.userInfo span{
  color: #414141;
  font-size: large;
}

.postInfo{
  display: flex;
  flex-direction: column;
  height: auto;
}

.content{
  height: auto;
}

.addCommentSection{
  margin: 0;
  padding: 0;
  height: auto;
}

.addCommentSection h2{
  margin-top: 0;
}

.addCommentSection button{
  border: none;
  background-color: inherit;
  font-size: 14px;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 10px 14px;
  margin: 6px;
  border-radius: 10px;
  cursor: pointer;
}

.divider{
  height: 1px;
  width: 100%;
  background-color: #c4c4be;
  margin: 1rem 0rem;
  padding: 1px;
}

.commentSection{
  width: 100%;
}

.commentSection h2{
  width: 100%;
  padding: 0rem 1rem 1rem;
  border-bottom: 1px solid rgb(211, 206, 206);
}

.commentList{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 2rem;
  margin-top: 2rem;
}

.commentContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  border-bottom: 1px solid rgb(211, 206, 206);
}

.commentContainer span{
  font-size: larger;
  font-weight: 600;
  padding: 0rem 1rem;
}

.commentContainer div{
  /* margin: 0px; */
  padding-left: 1rem;
}